# Filtering the data frame based on conditional ( data Filtering / Querying)

> ie having data of a specific country or developer who knows python Specific salary range all by filtering dataframe we can get ans

Importing the pandas library

In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

> Lets say we want all result those who have last name as 'Doe' then we have code as <code> df['last']=='Doe' </code> then we recieve a series with true or false as pd is made in numpy so boolean np arrayy is returned

In [5]:
df['last']=='Doe'

0    False
1     True
2     True
Name: last, dtype: bool

> We want our result in data frame not sseries for that we make a variable to store that series and pass it in
it has two ways  

1. <code>  df[filt] </code> 
2. <code> df[df['last']=='Doe'] </code> passing dierectly i love above one 

this will result in the all those who have Doe as last name or in other words whose np array value are True

In [8]:
filt = (df['last']=='Doe')

In [9]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

> above one can also be used with loc <code> df.loc[filt] </code> why its good as loc uses  label it can use boolean value as label too so we can use <code> df.loc[filt , 'email'] </code> to get only email of both 'Doe' in this first is rows and 2nd arg is cols

In [10]:
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [11]:
df.loc[filt , 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

# &&      and     |      Operators

> we can not use <b>And</b> <b> OR </b> As in Python instead we use <b>&&</b> and <b>|</b> because pd use np as base to make it fast

> wanna result of  all name having 'Shaufer' as last and 'Jane' as First we make filt variable

In [19]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'Jane')

In [20]:
df[filt]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [21]:
df.loc[filt , 'email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

# The End