# Series And Data Frame

>Importing the pandas Library

In [1]:
import pandas as pd

# Visualising DataFrame as Dictionary

> having a Dictionary 

<code> person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}</code>
    
> in above code we have value as rows and cols as keys 
<code>
    
    
people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}
    
</code>

> series in pandas have only one rows while if we talk about the dataframe it contains more values so with each key associated a list of two or three values as in code below 

<code>
    
    
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
    
</code>

>please note the below code for further explanation

In [3]:
 person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [4]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [5]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

> as in above we see 
<code> people['email'] </code>

output is ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'] same we can see if we have <code> df['email']</code>

## Above dictionary as dataframe

>importing and making a dataframe from dictionary

In [6]:
df = pd.DataFrame(people)

In [7]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com


> result above shows how dataframe works like a dictionary all keys are cols and values becomes rows 0 ,1 , 2 are index

### How to access the rows and columns asme as dictionary

In [8]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

>above code is same as <code>people['email]</code> and <code> df['email] </code>

# What is series?

 >series is basically a list of data in pandas way we can say its row and many series form up Data Frame
 > its a single col of rows

>Acessing multiple columns by using below code

<code> df[['email' , 'last']] </code>

this will show the email and last both columns as in below code

In [9]:
df[['email' , 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe
2        JohnDoe@email.com      Doe

# How to get columns ?

<code> df.columns </code> gives the colunms index

In [10]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

## iloc 

> iloc as name is integer location we access the row by it <code> df.iloc[0] </code> as [0] shows the index zero access by int index as in below code see o/p returns a series of cols with value basically first row when we access by iloc then its index becomes the cols Like firrst , last , email .

In [11]:
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

to access multiple then <code> df.iloc[[0,1,2]] </code>

In [13]:
 df.iloc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

> iloc speciality

<code> df.iloc[[0,1] , 2 ] </code>

what happens above is as iloc only have integer value so in 1st arg we pass the index [0,1] and in 2nd arg we pass the col index as iloc can have only int value so 0--> first col .... 2--->email so it gives the o/p see code o/p

In [14]:
 df.iloc[[0,1] , 2 ]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

### loc

> loc search by label for loc label are index as 0,1,2 etc <code> df.loc[0] </code> and <code> df.loc[[0,1]] </code>

In [15]:
 df.loc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

> loc speciality

as in iloc we can only pass the integer but in loc we can pass label so we can use col name too <code> df.loc[[0,1],['email']]</code>

In [16]:
df.loc[[0,1],['email']]

                     email
0  CoreyMSchafer@gmail.com
1        JaneDoe@email.com